/* MAIN FORM CONTAINER */
.form-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
    margin: 40px 15px;
    width: 80vw;
}

    /* TITLE + DESCRIPTION */
    .form-container h1 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 2rem;
    }

    .form-container p {
        text-align: center;
        margin-bottom: 20px;
        font-size: 1rem;
        color: #555;
    }

.form-title {
    font-size: 3.5rem;
    font-weight: bold;
    display: flex;
    margin-bottom: 30px;
}

.form-description {
    font-size: 2.0rem;
    margin-bottom: 50px;
    display: flex;
}

.form-head {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border-top: 10px solid #007bff;
    padding: 50px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* SUBMIT BUTTON */
.btn {
    padding: 12px 0px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 20vw;
}

    .btn:hover {
        background-color: #0056b3;
    }

    .btn:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }

/* RESPONSIVE DESIGN */
@media (min-width: 1200px) {
    .form-container {
        max-width: 800px;
        margin: 80px auto 120px auto;
        padding: 40px;
    }

        .form-container h1 {
            font-size: 1.6rem;
        }

    .btn {
        width: 200px;
    }
}
